/* Resets */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #f7f3f3;
    color: rgb(51, 51, 51);
}

img {
    width: 100%;
    vertical-align: middle;
}

p {
    text-align: justify;
    line-height: 1.3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    padding: 15px 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Header */
header {
    position: relative;
    background-color: #ebb70e;
}

.centered {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inceleBtn {
    background-color: rgb(51, 51, 51);
    color: #ebb70e;
    transition: ease-out 0.3s;
}

.inceleBtn:hover {
    padding-left: 50px;
    padding-right: 50px;
}

.minHeader {
    padding: 5px 0px 5px 10px;
    display: none;
}

/* Nav */
nav ul {
    display: flex;
    background-color: rgb(51, 51, 51);
    justify-content: center;
}

nav ul li a {
    display: block;
    color: #ebb70e;
    padding: 20px;
    text-align: center;
    transition: ease-out 0.3s;
}

nav ul li a:hover {
    padding-left: 30px;
    color: rgb(255, 255, 255);
}

/* Flexbox */
.flex-container {
    display: flex;
}

.justify-center {
    justify-content: center;

}

.max-width {
    max-width: 1280px;
    margin: 0 auto;
}

/* Main Content */
#mainContent {
    flex: 8;
    padding: 10px;
}

/* Side Content */
#sideContent {
    flex: 4;
    padding: 10px;
}

/* Card'lar */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 4px;
}

.card h5 {
    color: #ebb70e;
    font-style: italic;
}

/* Inputs */
.btn {
    background-color: #ebb70e;
    color: black;
    transition: ease-out 0.5s;

}

.btn:hover {
    background-color: black;
    color: #ebb70e;
}

/* Sosyal İçerikler */
#social {
    display: flex;
}

#social li {
    padding: 10px;
}

#social li a {
    font-size: 2rem;
    color: #ebb70e;
    transition: ease-out 0.5s;
}

#social li a:hover {
    color: rgb(51, 51, 51);
}

/* Footer*/
footer {
    padding: 20px 0;
    background: #ebb70e;
}

footer section {
    flex: 1;
    padding: 0 20px;
}

.footerList li {
    padding: 0 0 20px;
}

.footerList li a {
    color: rgb(51, 51, 51);

    transition: ease-out 0.3s;
}

.footerList li a:hover {
    padding-left: 10px;
}

.footerP {
    width: 50%;
    text-align: left;
}
